tests/response.xml

<definitions targetNamespace="urn:microsoft-dynamics-schemas/page/wsvendor"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="urn:microsoft-dynamics-schemas/page/wsvendor">
	<types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/wsvendor"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:simpleType name="Blocked">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="_blank_"/>
					<xsd:enumeration value="Payment"/>
					<xsd:enumeration value="All"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Application_Method">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Manual"/>
					<xsd:enumeration value="Apply_to_Oldest"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Partner_Type">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="_blank_"/>
					<xsd:enumeration value="Company"/>
					<xsd:enumeration value="Person"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="WSVendor">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="No" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Name" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Address" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Address_2" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Post_Code" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="City" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="County" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Country_Region_Code" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Phone_No" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Primary_Contact_No" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Contact" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Search_Name" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Balance_LCY" type="xsd:decimal"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Post_Dated_Checks_LCY" type="xsd:decimal"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="_Balance_LCY_ABS_Post_Dated_Checks_LCY" type="xsd:decimal"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Purchaser_Code" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Responsibility_Center" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Blocked" type="tns:Blocked"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Bank_Account_Modified_By" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Last_Date_Modified" type="xsd:date"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Weighbridge_Supplier_ID" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Fax_No" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="E_Mail" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Home_Page" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="IC_Partner_Code" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Pay_to_Vendor_No" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Gen_Bus_Posting_Group" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="VAT_Bus_Posting_Group" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="WHT_Business_Posting_Group" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Vendor_Posting_Group" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Invoice_Disc_Code" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Prices_Including_VAT" type="xsd:boolean"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Prepayment_Percent" type="xsd:decimal"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Application_Method" type="tns:Application_Method"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Partner_Type" type="tns:Partner_Type"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Payment_Terms_Code" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Payment_Method_Code" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Priority" type="xsd:int"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Cash_Flow_Payment_Terms_Code" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Lodgement_Reference" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Our_Account_No" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Block_Payment_Tolerance" type="xsd:boolean"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="EFT_Payment" type="xsd:boolean"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="EFT_Bank_Account_No" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Creditor_No" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Preferred_Bank_Account" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Location_Code" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Shipment_Method_Code" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Lead_Time_Calculation" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Base_Calendar_Code" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Customized_Calendar" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Currency_Code" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Language_Code" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="VAT_Registration_No" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="WHT_Registration_ID" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="ID_No" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="IRD_No" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="ABN" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="ABN_Division_Part_No" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Registered" type="xsd:boolean"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Foreign_Vend" type="xsd:boolean"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Send_To_Concur" type="xsd:boolean"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Concur_Invoice_Last_Updated" type="xsd:dateTime"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WSVendor_List">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="unbounded" name="WSVendor" type="tns:WSVendor"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="WSVendor_Fields">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="No"/>
					<xsd:enumeration value="Name"/>
					<xsd:enumeration value="Address"/>
					<xsd:enumeration value="Address_2"/>
					<xsd:enumeration value="Post_Code"/>
					<xsd:enumeration value="City"/>
					<xsd:enumeration value="County"/>
					<xsd:enumeration value="Country_Region_Code"/>
					<xsd:enumeration value="Phone_No"/>
					<xsd:enumeration value="Primary_Contact_No"/>
					<xsd:enumeration value="Contact"/>
					<xsd:enumeration value="Search_Name"/>
					<xsd:enumeration value="Balance_LCY"/>
					<xsd:enumeration value="Post_Dated_Checks_LCY"/>
					<xsd:enumeration value="_Balance_LCY_ABS_Post_Dated_Checks_LCY"/>
					<xsd:enumeration value="Purchaser_Code"/>
					<xsd:enumeration value="Responsibility_Center"/>
					<xsd:enumeration value="Blocked"/>
					<xsd:enumeration value="Bank_Account_Modified_By"/>
					<xsd:enumeration value="Last_Date_Modified"/>
					<xsd:enumeration value="Weighbridge_Supplier_ID"/>
					<xsd:enumeration value="Fax_No"/>
					<xsd:enumeration value="E_Mail"/>
					<xsd:enumeration value="Home_Page"/>
					<xsd:enumeration value="IC_Partner_Code"/>
					<xsd:enumeration value="Pay_to_Vendor_No"/>
					<xsd:enumeration value="Gen_Bus_Posting_Group"/>
					<xsd:enumeration value="VAT_Bus_Posting_Group"/>
					<xsd:enumeration value="WHT_Business_Posting_Group"/>
					<xsd:enumeration value="Vendor_Posting_Group"/>
					<xsd:enumeration value="Invoice_Disc_Code"/>
					<xsd:enumeration value="Prices_Including_VAT"/>
					<xsd:enumeration value="Prepayment_Percent"/>
					<xsd:enumeration value="Application_Method"/>
					<xsd:enumeration value="Partner_Type"/>
					<xsd:enumeration value="Payment_Terms_Code"/>
					<xsd:enumeration value="Payment_Method_Code"/>
					<xsd:enumeration value="Priority"/>
					<xsd:enumeration value="Cash_Flow_Payment_Terms_Code"/>
					<xsd:enumeration value="Lodgement_Reference"/>
					<xsd:enumeration value="Our_Account_No"/>
					<xsd:enumeration value="Block_Payment_Tolerance"/>
					<xsd:enumeration value="EFT_Payment"/>
					<xsd:enumeration value="EFT_Bank_Account_No"/>
					<xsd:enumeration value="Creditor_No"/>
					<xsd:enumeration value="Preferred_Bank_Account"/>
					<xsd:enumeration value="Location_Code"/>
					<xsd:enumeration value="Shipment_Method_Code"/>
					<xsd:enumeration value="Lead_Time_Calculation"/>
					<xsd:enumeration value="Base_Calendar_Code"/>
					<xsd:enumeration value="Customized_Calendar"/>
					<xsd:enumeration value="Currency_Code"/>
					<xsd:enumeration value="Language_Code"/>
					<xsd:enumeration value="VAT_Registration_No"/>
					<xsd:enumeration value="WHT_Registration_ID"/>
					<xsd:enumeration value="ID_No"/>
					<xsd:enumeration value="IRD_No"/>
					<xsd:enumeration value="ABN"/>
					<xsd:enumeration value="ABN_Division_Part_No"/>
					<xsd:enumeration value="Registered"/>
					<xsd:enumeration value="Foreign_Vend"/>
					<xsd:enumeration value="Send_To_Concur"/>
					<xsd:enumeration value="Concur_Invoice_Last_Updated"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="WSVendor_Filter">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:WSVendor_Fields"/>
					<xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="Read">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="No" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Read_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="WSVendor" type="tns:WSVendor"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ReadByRecId">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ReadByRecId_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="WSVendor" type="tns:WSVendor"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ReadMultiple">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:WSVendor_Filter"/>
						<xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string"/>
						<xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ReadMultiple_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:WSVendor_List"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="IsUpdated">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="IsUpdated_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetRecIdFromKey">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetRecIdFromKey_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Create">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="WSVendor" type="tns:WSVendor"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Create_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="WSVendor" type="tns:WSVendor"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CreateMultiple">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="WSVendor_List" type="tns:WSVendor_List"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CreateMultiple_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="WSVendor_List" type="tns:WSVendor_List"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Update">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="WSVendor" type="tns:WSVendor"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Update_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="WSVendor" type="tns:WSVendor"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UpdateMultiple">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="WSVendor_List" type="tns:WSVendor_List"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UpdateMultiple_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="WSVendor_List" type="tns:WSVendor_List"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Delete">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Delete_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</types>
	<message name="Read">
		<part name="parameters" element="tns:Read"/>
	</message>
	<message name="Read_Result">
		<part name="parameters" element="tns:Read_Result"/>
	</message>
	<message name="ReadByRecId">
		<part name="parameters" element="tns:ReadByRecId"/>
	</message>
	<message name="ReadByRecId_Result">
		<part name="parameters" element="tns:ReadByRecId_Result"/>
	</message>
	<message name="ReadMultiple">
		<part name="parameters" element="tns:ReadMultiple"/>
	</message>
	<message name="ReadMultiple_Result">
		<part name="parameters" element="tns:ReadMultiple_Result"/>
	</message>
	<message name="IsUpdated">
		<part name="parameters" element="tns:IsUpdated"/>
	</message>
	<message name="IsUpdated_Result">
		<part name="parameters" element="tns:IsUpdated_Result"/>
	</message>
	<message name="GetRecIdFromKey">
		<part name="parameters" element="tns:GetRecIdFromKey"/>
	</message>
	<message name="GetRecIdFromKey_Result">
		<part name="parameters" element="tns:GetRecIdFromKey_Result"/>
	</message>
	<message name="Create">
		<part name="parameters" element="tns:Create"/>
	</message>
	<message name="Create_Result">
		<part name="parameters" element="tns:Create_Result"/>
	</message>
	<message name="CreateMultiple">
		<part name="parameters" element="tns:CreateMultiple"/>
	</message>
	<message name="CreateMultiple_Result">
		<part name="parameters" element="tns:CreateMultiple_Result"/>
	</message>
	<message name="Update">
		<part name="parameters" element="tns:Update"/>
	</message>
	<message name="Update_Result">
		<part name="parameters" element="tns:Update_Result"/>
	</message>
	<message name="UpdateMultiple">
		<part name="parameters" element="tns:UpdateMultiple"/>
	</message>
	<message name="UpdateMultiple_Result">
		<part name="parameters" element="tns:UpdateMultiple_Result"/>
	</message>
	<message name="Delete">
		<part name="parameters" element="tns:Delete"/>
	</message>
	<message name="Delete_Result">
		<part name="parameters" element="tns:Delete_Result"/>
	</message>
	<portType name="WSVendor_Port">
		<operation name="Read">
			<input name="Read" message="tns:Read"/>
			<output name="Read_Result" message="tns:Read_Result"/>
		</operation>
		<operation name="ReadByRecId">
			<input name="ReadByRecId" message="tns:ReadByRecId"/>
			<output name="ReadByRecId_Result" message="tns:ReadByRecId_Result"/>
		</operation>
		<operation name="ReadMultiple">
			<input name="ReadMultiple" message="tns:ReadMultiple"/>
			<output name="ReadMultiple_Result" message="tns:ReadMultiple_Result"/>
		</operation>
		<operation name="IsUpdated">
			<input name="IsUpdated" message="tns:IsUpdated"/>
			<output name="IsUpdated_Result" message="tns:IsUpdated_Result"/>
		</operation>
		<operation name="GetRecIdFromKey">
			<input name="GetRecIdFromKey" message="tns:GetRecIdFromKey"/>
			<output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result"/>
		</operation>
		<operation name="Create">
			<input name="Create" message="tns:Create"/>
			<output name="Create_Result" message="tns:Create_Result"/>
		</operation>
		<operation name="CreateMultiple">
			<input name="CreateMultiple" message="tns:CreateMultiple"/>
			<output name="CreateMultiple_Result" message="tns:CreateMultiple_Result"/>
		</operation>
		<operation name="Update">
			<input name="Update" message="tns:Update"/>
			<output name="Update_Result" message="tns:Update_Result"/>
		</operation>
		<operation name="UpdateMultiple">
			<input name="UpdateMultiple" message="tns:UpdateMultiple"/>
			<output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result"/>
		</operation>
		<operation name="Delete">
			<input name="Delete" message="tns:Delete"/>
			<output name="Delete_Result" message="tns:Delete_Result"/>
		</operation>
	</portType>
	<binding name="WSVendor_Binding" type="tns:WSVendor_Port">
		<binding transport="http://schemas.xmlsoap.org/soap/http"
			xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<operation name="Read">
				<operation soapAction="urn:microsoft-dynamics-schemas/page/wsvendor:Read" style="document"
					xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
					<input name="Read">
						<body use="literal"
							xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
						</input>
						<output name="Read_Result">
							<body use="literal"
								xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
							</output>
						</operation>
						<operation name="ReadByRecId">
							<operation soapAction="urn:microsoft-dynamics-schemas/page/wsvendor:ReadByRecId" style="document"
								xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
								<input name="ReadByRecId">
									<body use="literal"
										xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
									</input>
									<output name="ReadByRecId_Result">
										<body use="literal"
											xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
										</output>
									</operation>
									<operation name="ReadMultiple">
										<operation soapAction="urn:microsoft-dynamics-schemas/page/wsvendor:ReadMultiple" style="document"
											xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
											<input name="ReadMultiple">
												<body use="literal"
													xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
												</input>
												<output name="ReadMultiple_Result">
													<body use="literal"
														xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
													</output>
												</operation>
												<operation name="IsUpdated">
													<operation soapAction="urn:microsoft-dynamics-schemas/page/wsvendor:IsUpdated" style="document"
														xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
														<input name="IsUpdated">
															<body use="literal"
																xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
															</input>
															<output name="IsUpdated_Result">
																<body use="literal"
																	xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
																</output>
															</operation>
															<operation name="GetRecIdFromKey">
																<operation soapAction="urn:microsoft-dynamics-schemas/page/wsvendor:GetRecIdFromKey" style="document"
																	xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
																	<input name="GetRecIdFromKey">
																		<body use="literal"
																			xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
																		</input>
																		<output name="GetRecIdFromKey_Result">
																			<body use="literal"
																				xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
																			</output>
																		</operation>
																		<operation name="Create">
																			<operation soapAction="urn:microsoft-dynamics-schemas/page/wsvendor:Create" style="document"
																				xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
																				<input name="Create">
																					<body use="literal"
																						xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
																					</input>
																					<output name="Create_Result">
																						<body use="literal"
																							xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
																						</output>
																					</operation>
																					<operation name="CreateMultiple">
																						<operation soapAction="urn:microsoft-dynamics-schemas/page/wsvendor:CreateMultiple" style="document"
																							xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
																							<input name="CreateMultiple">
																								<body use="literal"
																									xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
																								</input>
																								<output name="CreateMultiple_Result">
																									<body use="literal"
																										xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
																									</output>
																								</operation>
																								<operation name="Update">
																									<operation soapAction="urn:microsoft-dynamics-schemas/page/wsvendor:Update" style="document"
																										xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
																										<input name="Update">
																											<body use="literal"
																												xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
																											</input>
																											<output name="Update_Result">
																												<body use="literal"
																													xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
																												</output>
																											</operation>
																											<operation name="UpdateMultiple">
																												<operation soapAction="urn:microsoft-dynamics-schemas/page/wsvendor:UpdateMultiple" style="document"
																													xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
																													<input name="UpdateMultiple">
																														<body use="literal"
																															xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
																														</input>
																														<output name="UpdateMultiple_Result">
																															<body use="literal"
																																xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
																															</output>
																														</operation>
																														<operation name="Delete">
																															<operation soapAction="urn:microsoft-dynamics-schemas/page/wsvendor:Delete" style="document"
																																xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
																																<input name="Delete">
																																	<body use="literal"
																																		xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
																																	</input>
																																	<output name="Delete_Result">
																																		<body use="literal"
																																			xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
																																		</output>
																																	</operation>
																																</binding>
																																<service name="WSVendor_Service">
																																	<port name="WSVendor_Port" binding="tns:WSVendor_Binding">
																																		<address location="http://spnav.sellparker.local:7047/SP_NAV2013R2Test/WS/Sell%20%2526%20Parker/Page/WSVendor"
																																			xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
																																		</port>
																																	</service>
																																</definitions>